<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1051755311348-lrkb15q9e4s4o6b9p4ij1dj4mcf71ddl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051755311348-lrkb15q9e4s4o6b9p4ij1dj4mcf71ddl</string>
	<key>API_KEY</key>
	<string>AIzaSyDmCvgXXlw3tFpcZ98CHBjS9Ck9zqYDM6M</string>
	<key>GCM_SENDER_ID</key>
	<string>1051755311348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.infmarketplace</string>
	<key>PROJECT_ID</key>
	<string>inf-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>inf-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051755311348:ios:be6cadf34e990550</string>
	<key>DATABASE_URL</key>
	<string>https://inf-marketplace.firebaseio.com</string>
</dict>
</plist>