[submodule "flutter_map"]
	path = flutter_map
	url = https://github.com/nbspou/flutter_map.git
[submodule "wstalk"]
	path = wstalk
	url = git@github.com:nbspou/wstalk.git
[submodule "dart-oauth1"]
	path = dart-oauth1
	url = git@github.com:nbspou/dart-oauth1.git
