[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
attributes             = req_attributes

[ req_distinguished_name ]

[ req_attributes ]

# Extensions for CA
[ ca_ext ]
basicConstraints       = critical, CA:true
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage               = critical, cRLSign, digitalSignature, keyCertSign

# Extensions for server certificates
[ server_ext ]
basicConstraints       = CA:false
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid, issuer
keyUsage               = digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage       = serverAuth, clientAuth
